.nav {
  border-bottom: 1px solid rgb(25 196 239 / 30%);
  padding: 0 36px;
}

.navButton {
  border: none;
  background: none;
  color: rgb(25, 196, 239);
  padding: 16px 0px;
  margin: 0px 32px;
  cursor: pointer;
  border-bottom: 1px solid rgb(20, 154, 187);
  font-size: 16px;
  font-weight: 500;
}
